body {
    font-family: "Ysabeau Infant", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-text button {}

.header {
    background-color: #1f2937;
    width: 100%;
}

.nav {}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-links {}

.header-banner {}

.hero-text {}

.hero-img {}

.content-block {}

.info {}

.info-item {}

.item-img {}

.quote {
    background-color: #e5e7eb;
    width: 100%;
}

.call-to-action {}

.footer {
    background-color: #1f2937;
    width: 100%;
}