body {
    font-family: "Ysabeau Infant", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-text button {}

.header {}

.nav {}

.header-logo {}

.nav-links {}

.header-banner {}

.hero-text {}

.hero-img {}

.content-block {}

.info {}

.info-item {}

.item-img {}

.quote {}

.call-to-action {}

.footer {}